@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  height: 100%;
  mix-blend-mode: multiply;
}

.container {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0.56deg, #000000 -13.48%, rgba(0, 0, 0, 0) 78.75%), url("../images/main-bg.png");
  background-position: 13%;
  background-size: cover;
  display: block;
}

.search-frame {
  max-width: 280px;
  height: 48px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.search-field {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #000000;
  max-width: 280px;
  height: 48px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.search-field__icon-location {
  width: 22px;
  height: 22px;
  margin: 13px 0 13px 20px;
}

.search-field__icon-loc {
  width: 22px;
  height: 22px;
  fill: #aeb3b9;
  stroke: #aeb3b9;
}

.search-field__icon-loc:hover, .search-field__icon-loc:focus {
  fill: #000000;
  stroke: #000000;
}

.search-field__icon-star {
  width: 22px;
  height: 22px;
  fill: #000000;
  stroke: #000000;
}

.search-field__icon-star:hover, .search-field__icon-star:focus {
  fill: #e0e000;
  stroke: #e0e000;
  cursor: pointer;
}

.search-field__input {
  margin-left: 10px;
  margin-right: 10px;
  width: 60%;
  height: 80%;
  border: none;
}

.search-field__icon-favorite {
  width: 22px;
  height: 22px;
}

.search-field__icon {
  width: 22px;
  height: 22px;
}

.fav-city__container {
  max-width: 280px;
  height: 28px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.fav-city__boxes {
  min-width: 247px;
  height: 28px;
  display: flex;
  overflow: hidden;
}

.fav-city__capsule {
  flex-basis: 72px;
  height: 28px;
  background-color: rgba(16, 33, 54, 0.5);
  border-radius: 20px;
  margin-right: 10px;
  display: flex;
  flex-shrink: 0;
  justify-content: space-evenly;
  align-items: center;
}

.fav-city__capsule-text {
  margin-left: 5px;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
  height: 17px;
  display: flex;
  flex-grow: 1;
  font-family: "Lato", sans-serif;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
}

.fav-city__capsule-cross {
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  margin-right: 5px;
}

.fav-city__capsule-cross-line1 {
  width: 100%;
  height: 1px;
  background-color: #a8a8a8;
  transform: rotate(45deg) translate(3px, 3px);
}

.fav-city__capsule-cross-line2 {
  width: 100%;
  height: 1px;
  background-color: #a8a8a8;
  transform: rotate(-45deg) translate(-2px, 2.5px);
}

.fav-city__capsule-cross:hover, .fav-city__capsule-cross:focus {
  cursor: pointer;
}

.fav-city__arrow-button {
  width: 28px;
  height: 28px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-left: 5px;
}

.fav-city__arrow {
  width: 10px;
  height: 20px;
}

.weather-main-box {
  max-width: 280px;
  height: 190px;
  background-color: #102136;
  margin-right: auto;
  margin-left: auto;
  margin-top: 45px;
  border-radius: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-box-inside {
  width: 167px;
  height: 131px;
  display: block;
}

#weather-box-icon {
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
}

#weather-box-icon__container {
  width: 35px;
  height: 35px;
  margin-right: auto;
  margin-left: auto;
}

#weather-box-city-name {
  width: 167px;
  height: 26px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  font-family: "Lato", sans-serif;
  color: #767D85;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
}

#weather-box-all-temp {
  display: flex;
}

#weather-box-main-temp {
  display: flex;
  justify-content: center;
  width: 75px;
  height: 56px;
  margin-top: 9px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  font-size: 45px;
  line-height: 54px;
  letter-spacing: 0.04em;
}

#weather-box-min-max {
  width: 74px;
  height: 40px;
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  margin-left: 20px;
  margin-top: 17px;
}

#weather-line {
  border: 1px solid #27384a;
}

#weather-min {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Lato", sans-serif;
}

#weather-min__up {
  color: #767D85;
  font-size: 14px;
  line-height: 17px;
}

#weather-min__down {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
}

#weather-max {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Lato", sans-serif;
}

#weather-max__up {
  color: #767D85;
  font-size: 14px;
  line-height: 17px;
}

#weather-max__down {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
}

.buttons-box {
  display: flex;
  max-width: 270px;
  height: 28px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.button-today {
  width: 126px;
  height: 27px;
  margin-right: 18px;
  background-color: #FFFFFF;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

.button-today__inactive {
  background-color: rgba(255, 255, 255, 0.5);
}

.button-today__inactive:hover, .button-today__inactive:focus {
  background-color: #FFFFFF;
}

.button-five-days {
  width: 126px;
  height: 28px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

.button-five-days:hover, .button-five-days:focus {
  background-color: #FFFFFF;
}

.button-five-days__active {
  background-color: #FFFFFF;
}

.button-link__today {
  width: 126px;
  height: 27px;
  border-radius: 20px;
  margin-right: 18px;
}

.button-link__five-days {
  width: 126px;
  height: 27px;
  border-radius: 20px;
}

.date-box {
  max-width: 280px;
  height: 190px;
  background: rgba(16, 33, 54, 0.8);
  border-radius: 34px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.date-box-inside {
  width: 280px;
  height: 120px;
  margin-top: 30px;
  display: block;
}

.date-box-day {
  width: 280px;
  height: 46px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  font-size: 45px;
  line-height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.04em;
}

.date-box-month {
  width: 139px;
  height: 22px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
}

.date-box-month-name {
  font-family: "Lato", sans-serif;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;
}

.date-box-month-line {
  opacity: 0.4;
  border: 1px solid #ffffff;
}

.date-box-month-hour {
  font-family: "Lato", sans-serif;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: end;
  letter-spacing: 0.04em;
}

.date-box-sun {
  width: 158px;
  height: 22px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
}

.date-box-sun-icon {
  width: 20px;
  height: 20px;
}

.date-box-sun-rise {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.date-box-sun-rise-text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.date-box-sun-line {
  opacity: 0.4;
  border: 1px solid #ffffff;
}

.date-box-sun-set {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.date-box-sun-set-text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.quote-container {
  width: 280px;
  height: 95px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 67px;
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  text-align: right;
  letter-spacing: 0.04em;
}

.quote-main {
  width: 280px;
  height: 50px;
  margin-top: 5px;
  font-style: italic;
  font-size: 14px;
  line-height: 17px;
}

.quote-author {
  width: 94px;
  height: 16px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: 0;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (min-width: 768px) {
  .main-container {
    min-width: 768px;
  }
  .container {
    background-image: linear-gradient(0.56deg, #000000 -13.48%, rgba(0, 0, 0, 0) 78.75%), url("../images/main-bg.png");
    background-position: 13%;
  }
  .search-frame {
    max-width: 500px;
    height: 48px;
    margin-top: 60px;
  }
  .search-field {
    font-size: 18px;
    line-height: 22px;
    max-width: 500px;
  }
  .search-field__input {
    width: 79%;
  }
  .fav-city__container {
    max-width: 500px;
    margin-top: 12px;
    justify-content: space-evenly;
  }
  .fav-city__boxes {
    min-width: 447px;
  }
  .fav-city__capsule-text {
    height: 28px;
    font-size: 14px;
    line-height: 17px;
  }
  .fav-city__capsule-cross {
    width: 12px;
    height: 12px;
    margin-right: 8px;
  }
  .fav-city__capsule-cross-line1 {
    width: 120%;
    height: 2px;
    transform: rotate(45deg) translate(2px, 4px);
  }
  .fav-city__capsule-cross-line2 {
    width: 120%;
    height: 2px;
    transform: rotate(-45deg) translate(-3px, 1px);
  }
  .weather-main-box {
    max-width: 500px;
    height: 300px;
    margin-top: 110px;
  }
  .weather-box-inside {
    width: 180px;
    height: 235px;
  }
  #weather-box-city-name {
    width: 180px;
    font-size: 18px;
    line-height: 22px;
  }
  #weather-box-all-temp {
    display: block;
    width: 160px;
    height: 159px;
    margin-left: auto;
    margin-right: auto;
  }
  #weather-box-main-temp {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 160px;
    height: 96px;
    margin-top: 10px;
    font-size: 90px;
    line-height: 108px;
  }
  #weather-box-min-max {
    width: 120px;
    height: 47px;
    margin: 6px auto auto auto;
  }
  #weather-min__up {
    font-size: 18px;
    line-height: 22px;
  }
  #weather-min__down {
    font-size: 18px;
    line-height: 22px;
  }
  #weather-max__up {
    font-size: 18px;
    line-height: 22px;
  }
  #weather-max__down {
    font-size: 18px;
    line-height: 22px;
  }
  .buttons-box {
    margin-top: 40px;
  }
  .date-box {
    max-width: 500px;
    height: 278px;
  }
  .date-box-inside {
    width: 360px;
    height: 180px;
    margin-top: 60px;
  }
  .date-box-day {
    width: 360px;
    height: 96px;
    font-size: 90px;
    line-height: 108px;
  }
  .date-box-month {
    width: 193px;
  }
  .date-box-month-name {
    font-size: 18px;
    line-height: 22px;
  }
  .date-box-month-hour {
    font-size: 18px;
    line-height: 22px;
  }
  .date-box-sun {
    width: 200px;
    margin-top: 30px;
  }
  .date-box-sun-rise-text {
    font-size: 18px;
    line-height: 22px;
  }
  .date-box-sun-set-text {
    font-size: 18px;
    line-height: 22px;
  }
  .quote-container {
    width: 380px;
    height: 145px;
    margin-right: 155px;
    margin-top: 40px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    text-align: right;
    letter-spacing: 0.04em;
  }
  .quote-main {
    width: 379px;
    height: 80px;
    margin-top: 23px;
    font-size: 22px;
    line-height: 26px;
  }
  .quote-author {
    height: 22px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .main-container {
    min-width: 1280px;
  }
  .container {
    background-image: linear-gradient(0.56deg, #000000 -13.48%, rgba(0, 0, 0, 0) 78.75%), url("../images/main-bg.png");
    background-position: 13%;
  }
  .search-frame {
    max-width: 520px;
    margin-top: 79px;
  }
  .search-field {
    max-width: 520px;
  }
  .weather-main-box {
    max-width: 450px;
    margin-top: 92px;
    margin-right: 0;
    border-radius: 34px 0 0 34px;
  }
  .buttons-box {
    margin-top: 20px;
    margin-right: 110px;
  }
  .date-and-quote-container {
    display: flex;
  }
  .date-box {
    min-width: 630px;
    margin-left: 0;
    margin-top: 65px;
    border-radius: 0px 34px 0px 0px;
  }
  .date-box-inside {
    width: 433px;
    height: 128px;
  }
  .date-box-month-and-sun {
    display: flex;
    width: 433px;
    height: 22px;
    margin-top: 10px;
  }
  .date-box-day {
    margin-left: auto;
    margin-right: auto;
  }
  .date-box-month {
    margin-top: 0;
  }
  .date-box-sun {
    margin-top: 0;
  }
  .quote-container {
    width: 350px;
    height: 132px;
    margin-right: 110px;
    margin-top: 95px;
    margin-bottom: 0px;
  }
  .quote-main {
    width: 350px;
    margin-top: 0px;
    font-size: 22px;
    line-height: 26px;
  }
  .quote-author {
    margin-top: 30px;
  }
}

.five-days__container {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0.56deg, #000000 -13.48%, rgba(0, 0, 0, 0) 78.75%), url("../images/five-days-bg.png");
  background-position: 41%;
  background-size: cover;
  display: block;
}

.five-days-weather__container {
  max-width: 280px;
  height: 589px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 35px;
  display: block;
}

.five-days-weather__main {
  max-width: 280px;
  height: 540px;
  background: rgba(16, 33, 54, 0.8);
  border-radius: 34px;
  box-shadow: 0px 5px 33px rgba(16, 33, 54, 0.6);
  display: flex;
  flex-direction: column;
}

.five-days-weather__city-name {
  width: 90%;
  height: 26px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  font-family: "Lato", sans-serif;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.five-days-weather__box-for-five {
  width: 246px;
  height: 154px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.five-days-weather__details {
  width: 82px;
  height: 154px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.five-days-weather__details-day {
  width: 90%;
  height: 14px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lato", sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.04em;
  opacity: 0.55;
}

.five-days-weather__details-month {
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
  width: 90%;
  height: 19px;
  font-family: "Lato", sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.04em;
}

.five-days-weather__details-image-box {
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.five-days-weather__details-image {
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-position: center;
}

.five-days-weather__details-min-max-box {
  width: 82px;
  height: 63px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  display: block;
}

.five-days-weather__details-min-max {
  width: 62px;
  height: 38px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.five-days-weather__details-min {
  width: 26px;
  height: 38px;
  display: block;
}

.five-days-weather__details-min__up {
  width: 26px;
  height: 20px;
  font-family: "Lato", sans-serif;
  color: #767d85;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.five-days-weather__details-min__down {
  width: 26px;
  height: 20px;
  font-family: "Lato", sans-serif;
  color: #ff6b09;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.five-days-weather__details-line {
  height: 30px;
  margin: auto;
  display: flex;
  border: 1px solid #27384a;
}

.five-days-weather__details-max {
  width: 26px;
  height: 38px;
  display: block;
}

.five-days-weather__details-max__up {
  width: 26px;
  height: 20px;
  font-family: "Lato", sans-serif;
  color: #767d85;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.five-days-weather__details-max__down {
  width: 26px;
  height: 20px;
  font-family: "Lato", sans-serif;
  color: #ff6b09;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.five-days-weather__details-more {
  width: 82px;
  height: 20px;
  margin-top: 5px;
  font-family: "Lato", sans-serif;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  opacity: 0.3;
  text-decoration-line: underline;
}

.five-days-weather__switch {
  width: 58px;
  height: 20px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.five-days-weather__switch-left {
  width: 10px;
  height: 20px;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.five-days-weather__switch-left:hover, .five-days-weather__switch-left:focus {
  opacity: 1;
  cursor: pointer;
}

.five-days-weather__switch-right {
  width: 10px;
  height: 20px;
  opacity: 0.5;
}

.five-days-weather__switch-right:hover, .five-days-weather__switch-right:focus {
  opacity: 1;
  cursor: pointer;
}

.five-days-weather__first-chart {
  width: 110px;
  height: 28px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.five-days-weather__first-chart-text {
  width: 72px;
  height: 18px;
  font-family: "Lato", sans-serif;
  color: #ff6b09;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: underline;
  margin-right: 10px;
}

.five-days-weather__first-chart-icon {
  width: 28px;
  height: 28px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transform: rotate(90deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.five-days-weather__first-chart-icon-svg {
  width: 10px;
  height: 20px;
  opacity: 0.5;
}

.five-days-weather__first-chart-icon-svg:hover, .five-days-weather__first-chart-icon-svg:focus {
  opacity: 1;
  cursor: pointer;
}

.five-days__more {
  width: 250px;
  height: 238px;
  margin: 20px auto 29px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.five-days__more-cards {
  width: 250px;
  height: 218px;
  display: flex;
  justify-content: space-between;
}

.five-days__more-card {
  width: 120px;
  height: 218px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 25px;
}

.five-days__more-card-inside {
  width: 88px;
  height: 185px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.five-days__more-card-inside-hour {
  width: 82px;
  height: 20px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  opacity: 0.54;
}

.five-days__more-card-inside-icon {
  width: 35px;
  height: 35px;
  background-image: url("../images/svg/sunice.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.five-days__more-card-inside-icon-con {
  width: 35px;
  height: 35px;
  margin-top: 10px;
}

.five-days__more-card-inside-temp {
  width: 50px;
  height: 30px;
  margin-top: 10px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF6B09;
}

.five-days__more-spec {
  width: 88px;
  height: 70px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.five-days__more-spec-field {
  width: 88px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.five-days__more-spec-field-icon {
  width: 20px;
  height: 20px;
  background-image: url("../images/svg/barometer.svg");
  background-repeat: no-repeat;
  opacity: 0.54;
}

.five-days__more-spec-field-data {
  width: 58px;
  height: 20px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #FFF;
  opacity: 0.54;
}

.five-days__more-line {
  width: 250px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
}

.buttons-box__five-days {
  display: flex;
  max-width: 270px;
  height: 28px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
}

@media screen and (min-width: 768px) {
  .five-days-weather__container {
    max-width: 620px;
    height: 328px;
    margin-top: 25px;
    margin-bottom: 53px;
  }
  .five-days-weather__main {
    max-width: 620px;
    height: 270px;
    box-shadow: 0px 8px 43px rgba(16, 33, 54, 0.6);
    justify-content: center;
  }
  .five-days-weather__city-name {
    width: 290px;
    height: 40px;
    margin-top: 25px;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.04em;
  }
  .five-days-weather__box-for-five {
    width: 580px;
    height: 190px;
  }
  .five-days-weather__details {
    width: 100px;
    height: 190px;
  }
  .five-days-weather__details-day {
    height: 17px;
    font-size: 14px;
    line-height: 17px;
  }
  .five-days-weather__details-month {
    margin-top: 10px;
    height: 22px;
    font-size: 18px;
    line-height: 22px;
  }
  .five-days-weather__details-image-box {
    margin-top: 10px;
  }
  .five-days-weather__details-min-max-box {
    width: 100px;
    height: 86px;
    margin-top: 10px;
  }
  .five-days-weather__details-min-max {
    width: 100px;
    height: 46px;
  }
  .five-days-weather__details-min {
    width: 49px;
    height: 46px;
  }
  .five-days-weather__details-min__up {
    width: 49px;
    font-family: "Lato", sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0.55;
  }
  .five-days-weather__details-min__down {
    width: 49px;
    height: 30px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    color: #ff6b09;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .five-days-weather__details-line {
    height: 46px;
    border: 1px solid #FFFFFF;
    opacity: 0.2;
  }
  .five-days-weather__details-max {
    width: 49px;
    height: 46px;
  }
  .five-days-weather__details-max__up {
    width: 49px;
    font-family: "Lato", sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0.55;
  }
  .five-days-weather__details-max__down {
    width: 49px;
    height: 30px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    color: #ff6b09;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .five-days-weather__details-more {
    margin-top: 20px;
    font-family: "Lato", sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
  }
  .five-days-weather__switch {
    width: 58px;
    height: 20px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }
  .five-days-weather__switch-left {
    width: 10px;
    height: 20px;
    background-repeat: no-repeat;
    opacity: 0.5;
  }
  .five-days-weather__switch-left:hover, .five-days-weather__switch-left:focus {
    opacity: 1;
    cursor: pointer;
  }
  .five-days-weather__switch-right {
    width: 10px;
    height: 20px;
    opacity: 0.5;
  }
  .five-days-weather__switch-right:hover, .five-days-weather__switch-right:focus {
    opacity: 1;
    cursor: pointer;
  }
  .five-days-weather__first-chart {
    margin-top: 30px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .five-days__buttons-and-city-name {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 65px;
  }
  .five-days-weather__container {
    max-width: 1060px;
    height: 356px;
    margin-top: 22px;
    margin-bottom: 62px;
  }
  .five-days-weather__main {
    max-width: 1060px;
    height: 308px;
  }
  .five-days-weather__city-name {
    margin-top: 0px;
    position: absolute;
    left: 0;
    right: 0;
  }
  .five-days-weather__box-for-five {
    width: 840px;
    height: 228px;
  }
  .five-days-weather__details {
    width: 120px;
    height: 228px;
  }
  .five-days-weather__details-day {
    height: 22px;
    font-size: 18px;
    line-height: 22px;
  }
  .five-days-weather__details-month {
    margin-top: 10px;
    height: 30px;
    font-size: 25px;
    line-height: 30px;
  }
  .five-days-weather__details-image-box {
    margin-top: 20px;
  }
  .five-days-weather__details-min-max-box {
    width: 120px;
    height: 81px;
    margin-top: 30px;
  }
  .five-days-weather__details-min-max {
    width: 120px;
    height: 56px;
  }
  .five-days-weather__details-min {
    width: 50px;
    height: 56px;
  }
  .five-days-weather__details-min__up {
    width: 50px;
    font-family: "Lato", sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .five-days-weather__details-min__down {
    width: 50px;
    font-family: "Lato", sans-serif;
    color: #ff6b09;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .five-days-weather__details-line {
    height: 46px;
    border: 1px solid #FFFFFF;
    opacity: 0.2;
  }
  .five-days-weather__details-max {
    width: 50px;
    height: 56px;
  }
  .five-days-weather__details-max__up {
    width: 50px;
    font-family: "Lato", sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .five-days-weather__details-max__down {
    width: 50px;
    font-family: "Lato", sans-serif;
    color: #ff6b09;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .five-days-weather__details-more {
    margin-top: 5px;
  }
  .five-days-weather__switch {
    width: 58px;
    height: 20px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }
  .five-days-weather__switch-left {
    width: 10px;
    height: 20px;
    background-repeat: no-repeat;
    opacity: 0.5;
  }
  .five-days-weather__switch-left:hover, .five-days-weather__switch-left:focus {
    opacity: 1;
    cursor: pointer;
  }
  .five-days-weather__switch-right {
    width: 10px;
    height: 20px;
    opacity: 0.5;
  }
  .five-days-weather__switch-right:hover, .five-days-weather__switch-right:focus {
    opacity: 1;
    cursor: pointer;
  }
  .five-days-weather__first-chart {
    margin-top: 20px;
  }
  .buttons-box__five-days {
    margin-left: 0;
    margin-right: 10%;
    margin-top: 0px;
  }
}
/*# sourceMappingURL=main.css.map */